<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://144.30.0.107</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/Profiles</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>hullharrym</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProfilesDB" Order="1" Enabled="False">
          <Destination Path="Data Source=PROFILERNSDB;Initial Catalog=ProfilesRNS;User ID=App_Profiles10;Password=Password1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PROFILERNS2;Initial Catalog=ProfilesRNS;User ID=App_Profiles10;Password=Password12345" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ProfilesDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PROFILERNS2;Initial Catalog=ProfilesRNS;User ID=App_Profiles10;Password=Password12345" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProfilesDB-Web.config Connection String">
      <ParameterValue>Data Source=PROFILERNSDB;Initial Catalog=ProfilesRNS;User ID=App_Profiles10;Password=Password1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>